
<ion-header   >
  <ion-navbar color="primary">
    <ion-title >
      Red Hat Bike Rental
    </ion-title>

  </ion-navbar>
</ion-header>


<ion-content paddding (tap)="itemTapped($event)">
<ion-list>
  <ion-item>
    <div class="mainlist">
      <img class="bikeicon" src="assets/icon/bike-blue.png" alt="bike icon">
      <!--button class="button" ion-button full  color="primary" [navPush]="startrental">Start Rental</button-->
      <div class="bottom" text-center>
      <button #startrent ion-button round  large color="secondary" (click)="scanQR()" style="width:350px;background-color: #28b4c9;"> Rent Bike </button>
      <button *ngIf="rentalstatus" #droprent ion-button round  large color="primary" (click)="returnBike()" style="width:350px;"> Return Bike </button>
      </div>
    </div>
  </ion-item>
  <ion-item>
    <div>
      <ion-label #rentaltext class="rentaltextstatus" *ngIf="rentalstatus" color="primary">{{rentalStatusText}}</ion-label>
    </div>
  </ion-item>

</ion-list>

</ion-content>



