page-home {

.mainlist {
    background-size:cover;
    background-size: 100%;
    height: 500px;
}

.topheader{
  background: #ff0000;
}

.top {
 height: 100%;
  display: block;
  vertical-align: top;
  background-color:0x45678;
}

.platform-android .top {
    height: 100%;
      display: block;
      vertical-align: top;
}
.bikeicon {
  margin-top:20%;
  bottom:0;
  left: 0;
  right: 0;
  height: 200px;
  margin-left: 22%;
}
.bottom {
  bottom:0;
  left: 0;
  right: 0;
  height: 500px;
}

.rentaltext {
 margin-left: 40%;
}

.button {
    display: block;
    margin-left: 4%;
    top:60%;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.5;

}
.rentaltextstatus {
  top:70%;
  margin-left: 20%;
}
}

.toaststyle {
> div
 {
  cornerRadius:10px;
  text-align:center;
  background-color:#28b4c9!important;
 }
}
